<h1>Results!</h1>
<h2>Given Letters:</h2>
<%=@array.class%>
<%=@array%>
<br>
<h1>Answer:</h1>
<%=@reply%>
<br>
<h2>English?</h2>
<%=@english%>
<br>
<h2>Inside de Grid?</h2>
<br>
<%=@inside %>
<%# <%=@to_ar %>
<%# <%=@to_ar.class %>
<br>
<%= link_to "Play Again", new_path %>
